.page.theme_dark {
  --bg-color: #000028;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --accent-title-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-outline-color: rgba(255, 0, 112, 0.40);
  --bg-image: url(../images/cover-image-dark.png);
}