.page.theme_light {
  --bg-color: ##fff1f7;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcB;
  --accent-text-color: #353430;
  --accent-title-color: #353430;
  --text-color: #353430;
  --hover-outline-color: rgba(50, 49, 45, 0.40);
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: ##fff1f7;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcB;
    --accent-text-color: #353430;
    --accent-title-color: #353430;
    --text-color: #353430;
    --hover-outline-color: rgba(50, 49, 45, 0.40);
    --bg-image: url(../images/cover-image-light.png); 
    }
    .page.theme_auto .rec{
      display: none;
    }
}
